<div layout="column">
    <div layout="row">
        <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/login_zpswvjizzmn.jpg" height="400" flex>
    </div>

    <div ng-cloak layout="row">

        <md-content flex>
            <md-tabs md-dynamic-height md-border-bottom style="background-color: darkslategrey">

                <md-tab label="Create New Post">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" style="color: orange; text-align: center;">Create New Post</h1>

                        <div>
                            <form name="postForm" style="text-align: center;">

                                <div layout="row" layout-align="center center">
                                    <md-input-container class="md-block">
                                        <br><label>Product Name</label></br>
                                        <input name="p" ng-model="product" required ng-pattern="/^[\w -]*$/">
                                        <div ng-messages="postForm.p.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Product Name</div>
                                        </div>
                                    </md-input-container>
                                    <span flex="10"></span>
                                    <md-input-container class="md-block">
                                        <br><label>Brand Name</label></br>
                                        <input name="b" ng-model="brand" required ng-pattern="/^[\w -]*$/">
                                        <div ng-messages="postForm.b.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Brand Name</div>
                                        </div>
                                    </md-input-container>

                                </div>

                                <div layout="row" layout-align="center center">
                                    <md-input-container class="md-block">
                                        <br><label>Price</label></br>
                                        <input type="number" ng-model="cost"  ng-pattern="/^[0-9]*$/">
                                        <div ng-messages="postForm.p.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Price</div>
                                        </div>
                                    </md-input-container>
                                    <span flex="15"></span>
                                    <md-input-container class="md-block">
                                        <br><label>Category</label></br>
                                        <select ng-model="categorySelected" ng-change="selectedValue()">
                                            <option ng-model="category" ng-change="selectedValue()" ng-repeat="category in categories">{{category}}</option>
                                        </select>

                                    </md-input-container>
                                </div>

                                <div layout="row" layout-align="center center">
                                    <md-input-container class="md-block">
                                        <br><label>Conditions</label></br>
                                        <input name="c" type="text" ng-model="conditions" required ng-pattern="/^[\w -]*$/">
                                        <div ng-messages="postForm.c.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Conditions</div>
                                        </div>
                                    </md-input-container>
                                    <span flex="10"></span>
                                    <md-input-container class="md-block">
                                        <br><label>Image URL</label></br>
                                        <input name="i" type="text" ng-model="img_url" required>
                                        <div ng-messages="postForm.i.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Image</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-align="center center">
                                    <md-button class="md-raised" ng-click="post(postForm.$valid)" style="background-color:orange;">
                                        Post
                                    </md-button>
                                    <span flex="5"></span>
                                    <md-input-container class="md-block" flex="25">
                                        <br><label>Description</label></br>
                                        <input name="d" ng-model="description" md-maxlength="200"   ng-pattern="/^[\w -]*$/" required >
                                        <div ng-messages="postForm.d.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Not valid Description</div>
                                        </div>
                                    </md-input-container>

                                </div>


                            </form>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>