<div layout="column">
    <md-toolbar style="background-color: DarkSlateGray;color: orange;">
        <div class="md-toolbar-tools" layout = "row">
            {{itemName}}
        </div>
    </md-toolbar>
    <div layout="row">
        <div flex="70">
            <div layout="row" style="background-color: WhiteSmoke;" layout-align="space-around end">
                <span flex="30" style="height:400px"></span>
                <div flex="40"><img ng-src="{{image}}" width="100%" height="300"></div>
                <span flex="30"></span>
            </div>
            <div style="height:200px" flex layout="row">
                <span style="height:200px;" flex></span>
            </div>
         </div>
        <div flex="30" style="border-left-style: solid;border-bottom-style: solid;border-radius: 5px;">
            <span layout="row" style="margin-left: 30%"><h2>{{itemPrice | currency:"USD$"}}</h2><h5>price</h5></span>

            <md-divider></md-divider>
            <h3>Contact Info:</h3><br>
            <h4 style="margin-left:10%">name: {{firstName}} {{lastName}}</h4>
            <h4 style="margin-left:10%">phone: {{phones[0]}}</h4>
            <h4 style="margin-left:10%">email: {{email}}</h4>
            <md-divider></md-divider>
            <br>
            <md-button class="md-raised" ng-hide="inShoppingCart" style="margin-left:30%;min-width: 200px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: rgb(255, 143, 0);" ng-click="addToShoppingCart()" ng-if="log">Add to Shopping Cart</md-button>
            <md-button class="md-raised" ng-show="inShoppingCart" style="margin-left:30%;min-width: 200px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: rgb(255, 143, 0);" ng-click="removeFromShoppingCart()" ng-if="log">Remove from Shopping Cart</md-button>
        </div>
    </div>
    <div>
        <md-divider></md-divider>
        <h2 style="color:orange">Description</h2>
        <p style="width:60%">
            {{itemDesc}}
        </p>
        <md-divider></md-divider>
        <a id="details"><h2 style="color:orange">Product Information</h2></a>
        <table cellspacing="20" style="border-top-style: solid;border-bottom-style: solid">
            <tr>
                <td style="background-color:WhiteSmoke ;border-top-style: solid;">Product Name:</td>
                <td>{{itemName}}</td>
            </tr>
            <tr >
                <td style="background-color:WhiteSmoke;border-top-style: solid;">Condition:</td>
                <td>{{itemCond}}</td>
            </tr>
            <tr>
                <td style="background-color:WhiteSmoke; border-top-style:solid;">Brand:</td>
                <td>{{itemBrand}}</td>
            </tr>
        </table><br>
        <md-divider></md-divider>
        <md-toolbar layout="row" style="background-color: DarkSlateGray;color: orange;" >
            <div class="md-toolbar-tools">
                <span>Customer Reviews</span>
            </div>
        </md-toolbar>
        <div layout="row">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="comment in feedback" ng-click="null">

                    <div class="md-list-item-text" layout="column">
                        <img ng-src="https://cdn3.iconfinder.com/data/icons/essentials-vol-1-1/512/User_Speech-2-512.png" class="md-avatar" alt="{{comment}}" />
                        <h4>{{comment}}</h4>

                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <form name="commentForm" flex="30" style="border-left-style:solid;">
                <md-input-container class="md-block">
                    <label>Leave Comment</label>
                    <textarea name="c" ng-model="comment"  rows="5" md-select-on-focus  md-maxlength="50"></textarea>
                </md-input-container>
                <md-button class="md-raised" style="max-width:50px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: rgb(255, 143, 0);" ng-click="postFeedBack(commentForm.$valid)">Submit</md-button>

            </form>

        </div>
    </div>
</div>