<div layout="column">
    <div layout="row">

        <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/login_zpswvjizzmn.jpg" height="400" flex>

    </div>

    <div ng-cloak layout="row">

        <md-content flex>
            <md-tabs md-dynamic-height md-border-bottom style="background-color: darkslategrey">

                <md-tab label="Log In">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" style="color: orange">Log In</h1>


                            <div>
                                <form name="loginForm">

                                    <md-input-container class="md-block">
                                        <label>Username</label>
                                        <input ng-model="email" flex="30" required name="Username">
                                        <div ng-message="loginForm.Email.$error" ng-if="true">
                                            <div ng-message="required" style="color: red" ng-if="errorFlag.emptyEP">Username is required</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Password</label>
                                        <input ng-model="password" flex="30" required type="password">
                                        <div ng-message="required" style="color:red" ng-if="errorFlag.emptyEP">Password is required</div>
                                    </md-input-container>

                                    <md-button class="md-raised" ng-click="login()">
                                        Submit
                                    </md-button>
                                </form>
                            </div>

                    </md-content>
                </md-tab>

                <md-tab label="Sign Up">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" style="color: orange;">Join Our Community</h1>

                        <div>
                            <form name="signupForm">
                                <h2 style="color: darkslategrey;">Account Info:</h2>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Username</label>
                                        <input ng-model="username" required>
                                        <div style="color:red" ng-if="errorFlag.name">Username is required</div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Password</label>
                                        <input ng-model="password" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Retype Password</label>
                                        <input ng-model="rePassword" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>

                                <md-divider></md-divider>

                                <h2 style="color: darkslategrey;">Personal Info:</h2>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>First Name</label>
                                        <input ng-model="ufirst" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Lastname</label>
                                        <input ng-model="ulast" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>email</label>
                                        <input ng-model="email" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Bithdate</label>
                                        <input ng-model="ubirth" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>City</label>
                                        <input ng-model="ucity" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>State</label>
                                        <input ng-model="ustate" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Phone Number</label>
                                        <input ng-model="phone" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>

                                <md-divider></md-divider>
                                <h2 style="color: darkslategrey;">Credit Card Info:</h2>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Credit Card Number</label>
                                        <input ng-model="cnumber" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Type</label>
                                        <input ng-model="ctype" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>CVV</label>
                                        <input ng-model="scode" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Expiration Date</label>
                                        <input ng-model="expdate" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Billing address</label>
                                        <input ng-model="baddress" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <md-input-container class="md-block">
                                        <label>Country</label>
                                        <input ng-model="country" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>State</label>
                                        <input ng-model="bstate" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Zipcode</label>
                                        <input ng-model="bzip" required>
                                        <div style="color:red" ng-if="errorFlag.password">Password is required </div>
                                    </md-input-container>

                                </div>
                                <md-button class="md-raised" style="max-width:50px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: rgb(255, 143, 0);" ng-click="signup2()">Submit</md-button>


                            </form>
                        </div>

                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>

    </div>


</div>
