<div layout="column">
    <div layout="column">
        <div layout="row">
            <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/cars_zpsjcnbuyxk.jpg" height="200" flex>
            <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/house_zps7rqyjjqc.jpeg" height="200" flex>
            <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/technology_zps3m6dqgwu.jpeg" height="200" flex>
            <img src="http://i1126.photobucket.com/albums/l611/jariellaureano1/furniture_zpszqmcnccs.jpeg" height="200" flex>
        </div>

        <md-toolbar class="md-hue-2" md-theme="altTheme">
           Order Success
        </md-toolbar>

    </div>

    <h1>Your order has successfully been placed (Order #69420). Thanks for using DealIt!</h1>
    <md-button align="right" class="md-raised" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); background-color: rgb(255, 143, 0);" ng-click="returnToHomePage()">Return to DealIt homepage</md-button>


</div>
